<div class="lobby">
<hello name="{{ this.loginService.getName() }}"></hello>
<p>
  Have a chat while waiting for a game.
</p>
<app-msg></app-msg>

<app-chatbox></app-chatbox>
<div class="floatbox">
  <div class='userbox' #userScroll [scrollTop]="userScroll.scrollHeight">
     <div *ngFor="let u of nonSystemUsers()" class='user {{u.color}}' (click)="onSelect(u)">
  	  {{u.userName}}
    </div>
  </div>
</div>
<app-user-detail [user]="selectedUser"></app-user-detail>
<div class='floatbreak'></div>
<input type='text' class='chatInput' [(ngModel)]="newChat" (keyup.enter)="sendChat()"><button (click)="sendChat()">Send</button>

<div>
<button (click)="this.loginService.logOut('')">Log Out!</button>
</div>

<div>
  <app-find-game-widget></app-find-game-widget>
</div>

</div>
