<div class="lobby mainbox">
<app-hello name="{{ this.loginService.getName() }}"></app-hello>
<p>
  Have a chat while waiting for a game.
</p>
<app-msg></app-msg>

<app-chatbox></app-chatbox>
<div class="floatbox">
  <div class='userbox' #userScroll >
     <div *ngFor="let u of userData.getActiveUsers()" class='user {{u.color}}' (click)="onSelect(u)">
  	  {{u.userName}}
    </div>
  </div>
</div>
<app-user-detail [user]="selectedUser"></app-user-detail>
<div class='floatbreak'></div>
<div class="findGame">
  <app-find-game-widget></app-find-game-widget>
</div>
<input type='text' class='chatInput' [(ngModel)]="newChat" (keyup.enter)="sendChat()"><button class='defButton' (click)="sendChat()">Send</button>

<div>
<button class="logoutButton" (click)="this.loginService.logOut('')">Log Out!</button>
</div>


</div>
