
.login form div { margin:8px; width: 280px; position:relative}
.login form div label { margin:5px}
.login form div input { position:absolute; right:0; padding:1px 5px 1px 5px; background-color:#dddddd}
.login form div input:focus { border:2px blue solid; background-color:white }

div.buttonPanel {margin:5px}
div.buttonPanel button {margin:5px}
