<div class='login mainBox'>
  <app-msg></app-msg>
  <form  >
    <h2 >Login</h2>
    <div >
      <label for="userName">User Name</label>
      <input type="text" id="userName" name="userName" placeholder="User Name" [(ngModel)]="userName" #ctrl="ngModel">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" #ctrl="ngModel">
    </div>
    <div class="buttonPanel">
      <button type="submit" class="defButton" (click)="tryLogin()">Login</button>
      
      <button  (click)="register()">Register</button>
      <button  (click)="tryLoginGuest()">Login as Guest</button>
    </div>
  </form>
</div>
