
.gameCanvas { position:relative; background-color:silver; width:400px; height:400px; border:1px black solid; margin: 0 auto}

#gameBack { position:absolute; right:28px; bottom:28px}

#game_scissors { position:absolute; right:310px; bottom:190px}
#game_paper { position:absolute; right:160px; bottom:290px}
#game_rock { position:absolute; right:10px; bottom:190px}
#game_lizard { position:absolute; right:60px; bottom:15px}
#game_spock { position:absolute; right:260px; bottom:15px}

img.selected { border-color:red; border-width:2px; border-style:solid; border-radius: 40px}

.results { margin: 5px auto 5px auto; width:400px; border:1px black solid; height: 205px}
.results div { margin: 5px auto 5px auto; width:184px}
.results div.resultText { margin: 5px auto 5px auto; width:260px ; font-size: 1.5em; text-align:center; height:27px}
.results div.round {width:400px ; font-size: 1.8em; text-align:center; font-weight:bold}
.results div.scores {width:400px ; font-size: 1.8em; text-align:center}
