<div class="gameBox mainbox">

<h1>{{game.gameStatus.gameName}}</h1>
<app-msg></app-msg>


<div class="gameCanvas">
  <img id='gameBack' src='assets/pentagonArrows.png'>
  <div *ngFor="let choice of getChoices()" >
    <img src='assets/{{choice}}.png' id='game_{{choice}}' (click)='select($event.target)'>
  </div>
</div>
    <div class="break"></div>
    <div class="results">
      <div> <img src='assets/{{selectedName}}.png'>  V.  <img src='assets/{{opponentSelectedName}}.png'></div>
      <div class="resultText"> {{resultText}}</div>
      <div class="round"> {{roundText}} </div>
      <div class="scores"> {{scoreText}} </div>
    </div>
    <div>
      <button (click)="close()">{{cancelButtonName}}</button>
    </div>

</div>
