<div class='findGameWidget'>
  <div *ngIf="isSeeking">
    Waiting for a match... <button (click)="endSeek()">Cancel</button>
  </div>
  <div *ngIf="!isSeeking && !game.gameStatus.inGame && !game.gameStatus.invited">
    <button (click)="startSeek()">Find a game</button>
  </div>
  <div *ngIf="game.gameStatus.invited">
    <div><span class="inviter {{userData.getUser(game.gameStatus.inviter).color}}">{{game.gameStatus.inviter}}</span> has invited you to a game</div>
    <button (click)="acceptInvite()">Accept Invite</button>
  </div>
  <div *ngIf="game.gameStatus.inGame">
    <div>Ready to start game<span class="gameName">{{game.gameStatus.gameName}}</span></div>
    <button (click)="cancelGame()">Cancel Game</button>
  </div>
</div>
