/* Add application styles & imports to this file! */

body {background-color:#dddddd; font-family:'Georgia'}

.mainBox { background-image:linear-gradient(to right, #dddddd, #5555dd); width:680px; height:750px; border-width:1px 1px 1px 0px; border-color:black; border-style:solid; float:left; border-radius: 0px 20px 20px 0px}

.red {  background:red ; color:white}
.blue {  background:blue ; color:white}
.green {  background:green ; color:white}
.orange {  background:orange ; color:black}
.yellow {  background:yellow ; color:black}
.white {  background:white ; color:black}
.black {  background:black ; color:white}

div.break {clear:both}

button.defButton {border-width:4px; background-color:darkgrey; border-color:darkgrey}
