<div class='register mainbox'>
  <app-msg></app-msg>
  <form  >
    <h2 >Register</h2>
    <div >
      <label for="userName">User Name</label>
      <input type="text" id="userName" name="userName" placeholder="User Name" [(ngModel)]="userName" #ctrl="ngModel">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" #ctrl="ngModel">
    </div>
    <div>
      <label for="confirmPass">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword" #ctrl="ngModel">
    </div>
    <div>
      <label for="color">Color</label>
      <select id="selectColor" name="color" [(ngModel)]="color" #ctrl="ngModel">
       @for (c of colors; track c) {
        <option value={{c}}>{{c}}</option>
        }
      </select>
    </div>
    <div class="buttonPanel">
      <button id="registerBtn" type="submit" class="defButton" (click)="tryRegister()">Register</button>
      <button id="cancelBtn"  (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
